---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/img/favicons/massage.ico">  
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>

	{% include header.html %}

	{% include about.html %}

	<div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/deeptissue.jpg" style="height: 200px; width: auto"></div>

	{% include services.html %}

	<div class="parallax-window" data-parallax="scroll" data-image-src="assets/img/testimonials.jpg" style="height: 200px; width: auto"></div>

	{% include testimonials.html %}

	{% include footer.html %}

<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/parallax.js" type="text/javascript"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>