<section class="about-me">

	<h3 id="about">About Me</h3>

	<div class="propic">

		<div class="face-img"></div>

		<div class="icon-pencil">{% include icons/icon-controller.html %}</div>
		<div class="icon-mouse">{% include icons/icon-massage.html %}</div>
		<div class="icon-browser">{% include icons/icon-mouse.html %}</div>
		<div class="icon-video">{% include icons/icon-pencil.html %}</div>

	</div>

	<div class="about">
	<p><strong>I moved here from Florida 8 years ago.</strong> Went to IMI (IntelliTech Medical Institute) for my Massage Therapy Degree, and I've been working at Massage Envy for almost 4 years now. I've been wanting to branch out of a franchise and do my own thing for awhile now. I've just seen so many therapist leave and come back after they failed on there own that it became a frightening idea. Luckily for me I'm stubborn and I'm gonna try doing it this year (2015) <!-- More info, try to fade! -->
	</p>
	</div>

	<div class="skills">

		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icon rating-9">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>

		<div class="skill-unit">
			<div class="skill-label">Organization</div>
			<div class="skill-icon rating-9">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>

		
		<div class="skill-unit">
			<div class="skill-label">Customer Service</div>
			<div class="skill-icon rating-10">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>


		<div class="skill-unit">
			<div class="skill-label">Technique</div>
			<div class="skill-icon rating-11">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>


		<div class="skill-unit">
			<div class="skill-label">Planning</div>
			<div class="skill-icon rating-8">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>


		<div class="skill-unit">
			<div class="skill-label">Dexterity</div>
			<div class="skill-icon rating-8">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>


		<div class="skill-unit">
			<div class="skill-label">Experience</div>
			<div class="skill-icon rating-10">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>


		<div class="skill-unit">
			<div class="skill-label">Friendliness</div>
			<div class="skill-icon rating-11">
				<span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
			</div></div>	

	</div>


</section>