<footer class="parallax-window" data-parallax="scroll" data-image-src="../assets/img/swedish_clean.jpg" style=" background: transparent;">

	<div class="lockup">

		<div class="logo">{% include icons/logo.html %}</div>

		<div class="content-wrap">
			<nav>
				<a href="#about">About Me</a>
				<a href="#services">Services</a>
				<a href="#testimonial">Testimonial</a>
				<a href="#contact">Contact</a>
			</nav>

			<p class="copyright">All Content Copyright 2014 </p>
		</div>

	</div>

</footer>