<section class="services">
	<h3 id="services">Services</h3> 

	<div class="service-list">
		<div class="service-lockup">
			<h4 class="ex-two">Deep Tissue 55 minute</h4>
			<div class="service-img"></div>
			<p class="massage-type">I work deep into the muscle. This is not the massage you see on movies. This type of massage is designed to get rid of everything and start over again. You will feel it the next day, maybe the next two days but after that you will feel fantastic! If you have an intense job, or are just working out knots and soreness from years back, Deep Tissue is the massage for you.</p>
		</div>
	</div>

	<div class="service-list">
		<div class="service-lockup">
			<h4 class="ex-two">Deep Tissue 85 minute</h4>
			<div class="service-img left"></div>
			<p class="massage-type">A 85 Minute Deep Tissue is just the right amount of time. You can effectively hit every part of the body and not feel rushed. Other then the time, this is exactly like the 55 minute massage.</p>
		</div>
	</div>

	<div class="service-list">
		<div class="service-lockup">
			<h4 class="ex-two">55 minute Swedish</h4>
			<div class="service-img"></div>
			<p class="massage-type">Massage oil or cream is used with smooth, gliding strokes. Swedish massage uses firm but gentle pressure to promote relaxation, ease muscle tension and create other health benefits. It is the classic massage that you normally see in movies and t.v</p>
		</div>
	</div>

	<div class="service-list">
		<div class="service-lockup">
			<h4 class="ex-two">Deep Tissue with Cryoderm</h4>
			<div class="service-img left"></div>
			<p class="massage-type">Designed to remove severe tension, deep tissue massage is a technique used to relieve both muscles and connective tissue below the surface. It helps to improve range of motion and heal injuries below the surface.</p>
		</div>
	</div>

	<div class="service-list">
		<div class="service-lockup">
			<h4 class="ex-two">Deep Tissue with Cryoderm</h4>
			<div class="service-img"></div>
			<p class="massage-type">Designed to remove severe tension, deep tissue massage is a technique used to relieve both muscles and connective tissue below the surface. It helps to improve range of motion and heal injuries below the surface.</p>
		</div>
	</div>

</section>