
<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50" xml:space="preserve">

<g fill="rgba(39, 174, 96, 1.0)" transform="matrix(0.1,0,0,0.1,0,0)">
	<g transform="matrix(-1,0,0,1,478.448,0)">
		<polygon points="100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232 131.659,0 "/>
	</g>
</g>

</svg>
