.services
	+clearfix 
	background: rgba(39, 174, 96, 1.0)
	padding-bottom: 50px
	h3
		color: $text-color
		max-width: 500px

	.service-list
		+clearfix

		
		.service-lockup
			max-width: 500px
			margin: 20px auto
			

			.service-img
				background: url(../img/deeptissue.jpg) center center
				background:
					size: cover
				+size(100px)
				float: left
				margin-right: 10px
				border-radius: 50%

			.left 
				float: right

			.ex-two
				text-align: center
				color: $text-color
				

			.massage-type
				margin: 0 auto
				
	@media screen and (max-width: 501px)	
		.service-lockup
			padding: 0 1.5em 0 1.5em

