html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #27ae60;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 42px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 26px;
  line-height: 1.38; }

.big, h4 {
  font-size: 22px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #27ae60;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #60db94; }

::selection {
  background: #8e44ad; }

::-moz-selection {
  background: #8e44ad; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #8e44ad; }

body {
  background: rgba(211, 84, 0, 0.8);
  font-size: 14px;
  line-height: 1.6;
  font-family: "Open Sans" sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

header nav a, header .kicker, footer .lockup .content-wrap a, .skills, h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

header {
  height: 450px;
  background-size: cover; }
  header .logo {
    height: 50px;
    width: 50px;
    float: left;
    margin: 20px 0 0 30px; }
    header .logo circle {
      fill: rgba(0, 0, 0, 0.2); }
  header nav {
    float: right;
    margin: 30px 30px 0 0; }
    header nav a {
      display: inline-block;
      margin-left: 20px;
      color: #27ae60; }
      header nav a:hover {
        color: #8e44ad; }
  header h1 {
    clear: both;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: #27ae60;
    text-decoration: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    padding-top: 110px; }
    header h1 span {
      display: inline-block;
      padding: 0.2em 0.3em;
      border: rgba(211, 84, 0, 0.8) solid 10px;
      border-radius: 20px 50px 10px 50px; }
  header .kicker {
    text-align: center;
    letter-spacing: 0.05em;
    color: #27ae60;
    line-height: 1; }

@media screen and (max-width: 580px) {
  header {
    padding: 0 10px 30px 10px; } }
footer {
  height: 155px;
  background: url(../img/swedish_one_sat.jpg) center center;
  background-size: cover; }
  footer .lockup {
    padding: 50px 30px; }
    footer .lockup:after {
      content: "";
      display: table;
      clear: both; }
    footer .lockup .logo {
      height: 50px;
      width: 50px;
      float: left;
      margin-right: 30px; }
      footer .lockup .logo circle {
        fill: rgba(0, 0, 0, 0.2); }
    footer .lockup .content-wrap {
      float: left; }
      footer .lockup .content-wrap .copyright {
        margin: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.4); }
      footer .lockup .content-wrap a {
        display: inline-block;
        margin-right: 20px;
        color: #27ae60; }
        footer .lockup .content-wrap a:hover {
          color: #8e44ad; }

section {
  border-top: 2px solid #2c3e50; }

.propic {
  max-width: 780px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify; }
  .propic .face-img {
    background: url(../img/propic.jpg) center;
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    order: 3; }
  .propic [class^="icon-"] {
    height: 100px;
    width: 100px;
    background: #2c3e50;
    border-radius: 50%; }
    .propic [class^="icon-"].icon-controller {
      -webkit-box-ordinal-group: 1;
      -moz-box-ordinal-group: 1;
      box-ordinal-group: 1;
      -webkit-order: 1;
      -moz-order: 1;
      order: 1;
      -ms-flex-order: 1; }
    .propic [class^="icon-"].icon-massage {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      box-ordinal-group: 2;
      -webkit-order: 2;
      -moz-order: 2;
      order: 2;
      -ms-flex-order: 2; }
    .propic [class^="icon-"].icon-mouse {
      -webkit-box-ordinal-group: 4;
      -moz-box-ordinal-group: 4;
      box-ordinal-group: 4;
      -webkit-order: 4;
      -moz-order: 4;
      order: 4;
      -ms-flex-order: 4; }
    .propic [class^="icon-"].icon-pencil {
      -webkit-box-ordinal-group: 5;
      -moz-box-ordinal-group: 5;
      box-ordinal-group: 5;
      -webkit-order: 5;
      -moz-order: 5;
      order: 5;
      -ms-flex-order: 5; }

@media screen and (max-width: 680px) {
  .propic {
    display: block;
    text-align: center; }
    .propic div {
      display: inline-block; }
    .propic .face-img {
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      width: 100;
      margin: 0 auto; }
    .propic [class^="icon-"] {
      margin: 10px; } }
.about {
  max-width: 620px;
  text-align: center;
  padding: 0 15px;
  margin: 50px auto;
  font-size: 24px;
  font-weight: 500; }

.skills {
  max-width: 540px;
  margin: 100px auto;
  padding: 0 1.5em 0 5.5em;
  color: #27ae60; }
  .skills:after {
    content: "";
    display: table;
    clear: both; }
  .skills .skill-unit {
    width: 250px;
    float: left; }
    .skills .skill-unit .skill-icon {
      font-size: 0;
      margin: 2px 0 30px; }
      .skills .skill-unit .skill-icon span {
        display: inline-block;
        height: 14px;
        width: 14px;
        background: #2c3e50;
        margin-right: 5px;
        border-radius: 50%; }
        .skills .skill-unit .skill-icon span:after {
          content: "";
          display: block;
          height: 10px;
          width: 10px;
          background: rgba(211, 84, 0, 0.8);
          border-radius: 50%;
          margin: 2px; }
      .skills .skill-unit .skill-icon.rating-1 span:nth-child(n+2):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-2 span:nth-child(n+3):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-3 span:nth-child(n+4):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-4 span:nth-child(n+5):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-5 span:nth-child(n+6):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-6 span:nth-child(n+7):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-7 span:nth-child(n+8):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-8 span:nth-child(n+9):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-9 span:nth-child(n+10):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-10 span:nth-child(n+11):after {
        background: #27ae60; }
      .skills .skill-unit .skill-icon.rating-11 span:nth-child(n+12):after {
        background: #27ae60; }

@media screeen and (max-width: 541px) {
  .skills {
    width: 270px; } }
.services {
  background: #27ae60; }
  .services:after {
    content: "";
    display: table;
    clear: both; }
  .services h3 {
    color: #2c3e50;
    padding: 9px 496px; }
    .services h3 .arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
      float: right;
      margin-top: 44px; }
  .services .service-list:after {
    content: "";
    display: table;
    clear: both; }
  .services .service-list .service-lockup {
    max-width: 700px;
    margin: 20px auto; }
    .services .service-list .service-lockup .service-img {
      background: url(../img/deeptissue.jpg) center center;
      background-size: cover;
      height: 100px;
      width: 100px;
      float: left;
      margin-right: 10px;
      border-radius: 50%; }
    .services .service-list .service-lockup .ex-two {
      margin: 0 auto;
      color: #2c3e50; }
    .services .service-list .service-lockup .massage-type {
      margin: 0 auto; }
  @media screen and (max-width: 680px) {
    .services .service-lockup {
      padding: 0 1.5em 0 1.5em; } }

h3 {
  color: #27ae60;
  text-align: center;
  padding: -40px 0 20px 0;
  font-size: 70px;
  font-weight: 900; }
